.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(244, 244, 244);
    border-top: 1px solid rgb(244, 244, 244);
    justify-content: space-around;
    padding: 30px 0;
}

.info-cart__item {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 375px;
    width: 100%;
}

.img-cart__inner {
    width: 80px;
}

.logo-text {
    font-size: 32px;
    font-weight: 700;
}

.quantity-product {
    display: flex;
    gap: 15px;
}

.quantity-text {
    font-size: 16px;
    font-weight: 600;
}

.delete-product {
    cursor: pointer;
}

.title-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-cart {
    gap: 18px;
    display: flex;
}

.cleaer-logo {
    display: flex;
}

.cleaer-caer {
    background: inherit;
    border: none;

}

.cart-lenght {
    width: 100%;
    max-width: 820px;
}

.carts-product {
    display: flex;
    justify-content: center;
}

.cleaer-caer {
    color: rgb(182, 182, 182);
}


.info-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.totla-price,
.total-items {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}

.close-and-puy {
    margin-top: 30px;
}

.close-cart,
.to-pay {
    box-sizing: border-box;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 30px;
    background: rgb(255, 255, 255);
    max-width: 210px;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
}

.empty-cart__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.empty-btn {
    background-color: black;
    color: #fff;
    cursor: pointer;
    margin: 44px 0 120px;
}

.title-empty {
    font-size: 32px;
    font-weight: 700;
}

.text-cart-inner {
    max-width: 550px;
    font-size: 16px;
    color: rgb(119, 119, 119);
    text-align: center;
    margin-bottom: 20px;
}

.close-and-pay {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.to-pay {
    background-color: rgb(226, 141, 29);
    color: #fff;
    justify-content: center;
    cursor: pointer;
    margin: 0;
}