.cart-header {
    display: flex;
    border-radius: 30px;
    background: rgb(254, 95, 30);
    max-width: 150px;
    width: 100%;
    max-height: 50px;
    align-items: center;
    color: #fff;
    font-size: 16px;
    gap: 13px;
    justify-content: center;
    font-weight: 700;
}

.cart-price {
    display: flex;
    gap: 9px;
}

.line-cart {
    width: 1px;
    height: 25px;
    color: #fff;
    background-color: #fff;
    border: none;
    margin: 0;
}

.cart-img {
    display: flex;
    align-items: center;
    gap: 9px;
}