.category-list {
    display: flex;
    gap: 10px;
    padding: 0;
}

.category-item {
    border-radius: 30px;
    background: rgb(249, 249, 249);
    color: rgb(40, 40, 40);
    font-size: 16px;
    padding: 13px 25px 15px;
    transition: all 0.5s;
    text-align: center;
    max-width: 200px;
}


.category-item.active {
    border-radius: 30px;
    background: rgb(40, 40, 40);
    color: #fff;
}


.filrer-list {
    position: fixed;
    /* или absolute, в зависимости от ваших требований */
    top: 20px;
    /* Отступ от верха экрана, чтобы разместить категорию */
    left: 20px;
    /* Отступ слева */
    z-index: 1000;
    /* Z-index выше, чтобы гарантировать, что он будет над контентом */
    background: rgba(255, 255, 255, 0.9);
    /* Полупрозрачный белый фон, чтобы была видна категория */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Тень для отделения категорий от основного контента */
    padding: 10px;
    border-radius: 10px;
}