.category-list {
    display: flex;
    gap: 10px;
    padding: 0;
}

.category-item {
    border-radius: 30px;
    background: rgb(249, 249, 249);
    color: rgb(40, 40, 40);
    font-size: 16px;
    padding: 13px 25px 15px;
    transition: all 0.5s;
    text-align: center;
    max-width: 200px;
}


.category-item.active {
    border-radius: 30px;
    background: rgb(40, 40, 40);
    color: #fff;
}

