  .wrapper-filtr {
    display: flex;
} 
.filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapper-filtr {
    position: relative;
    flex-direction: column;
    align-items: end;
}

.title-filter .tetx-filter {
    font-weight: 600;
    font-size: 16px;
    color: #FF6A00;
    margin-right: 5px;
}

.options {
    border: none;
    font-size: 17px;
    padding: 10px 0;
}

.selected-option {
    color: #FF6A00;
}

.filter-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 10px 0;
    text-align: center;
} 

.filter-list.open {
    max-height: 140px;
    width: 100%;
    max-width: 140px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);
    background: rgb(255, 255, 255);
    margin-top: 35px;
}

.filter__list-inner {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 13px 0;
}

.filter__list-inner.visible {
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
}

.filter__list-inner.visible.active {
    color: #FF6A00;
    background: rgba(254, 95, 30, 0.05);
} 
 


 .wrapper-filtr {
    position: relative;
    flex-direction: column;
    align-items: end;
    z-index: 5; /* Добавляем z-index, чтобы он перекрывал другие элементы */
}

.filter-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 10px 0;
    text-align: center;
    position: absolute; /* Обязательно делаем абсолютное позиционирование */
    top: 100%; /* Список появится под фильтром */
    left: 0;
    z-index: 10; /* Высокий z-index, чтобы перекрывать другие элементы */
}

.filter-list.open {
    max-height: 140px;
    width: 100%;
    max-width: 140px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);
    background: rgb(255, 255, 255);
    margin-top: 5px;
    z-index: 15;
}

.filter__list-inner {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 13px 0;
    z-index: 15; 
}

.filter__list-inner.visible {
    opacity: 1;
    transform: translateY(0);
    z-index: 20;
}

.filter__list-inner.visible.active {
    color: #FF6A00;
    background: rgba(254, 95, 30, 0.05);
    z-index: 20; 
}
