.product {
    margin-top: 80px;
}

.sort-block {
    display: flex;
    justify-content: space-between;
}

.product-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.title-content {
    margin: 25px 0 35px 0;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-description {
    max-width: 300px;
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
}

.name-pizza {
    text-align: center;
    font-size: 20px;
}

.choice {
    display: flex;
    flex-direction: column;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    max-width: 280px;
    max-height: 87px;
    font-size: 14px;
    padding: 5px;
    font-weight: 700;
    width: 100%;
}

.list-types,
.list-sizes {
    display: flex;
    gap: 7px;
    padding: 0;
    margin: 0;
    justify-content: center;
    padding: 5px;

}

.types-inner {
    width: 100%;
    max-width: 130px;
}

.size-inner {
    max-width: 86px;
    width: 100%;
}

.size-inner,
.types-inner {
    padding: 7px 16px;
    text-align: center;
    color: rgb(44, 44, 44);
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

.size-inner.active,
.types-inner.active {
    padding: 7px 16px;
    color: black;
    background: #fff;
}