body {
  background-color: #ffd27f;
}

.container {
  margin: 30px auto;
  max-width: 1220px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}